<ion-view>
    <ion-nav-buttons side="left">
        <span class="buttons">
            <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        </span>
    </ion-nav-buttons>
    <ion-nav-buttons>
        <button id="changePeriodBtn"
                ng-click='toggleExpanded(changePeriod)'
                ng-show='Period' ng-class="{'ion-chevron-down' :!changePeriod.Expanded, 'ion-chevron-up': changePeriod.Expanded}"
                class='button center button-icon icon icon-right'>
            Period {{Period.periodNum}}
        </button>
    </ion-nav-buttons>

    <!--shows when change period button is clicked-->
    <ion-list id="changePeriod" ng-show="changePeriod.Expanded">
        <ion-item ng-repeat="period in periods"  ng-click="changePeriodClose(changePeriod, period)" ui-sref="app.attendance({periodId:period.periodNum})">
            Period {{period.periodNum}}
        </ion-item>
    </ion-list>
    <period-nav></period-nav>

    <ion-header-bar class="dateNav bar-subheader bar-calm" ng-show="Period" na-title-slide-ios7>
        <button ng-click="previous()"  class="button prevBtn icon ion-arrow-left-c"></button>
        <h1 class="title">{{date | date:'EEE, dd MMM yyyy'}}</h1>
        <button ng-click="next()" class="button nextBtn icon ion-arrow-right-c"></button>
    </ion-header-bar><!--end date Nav-->

    <ion-content class="has-header">
        <!--when no period is chosen-->
        <ion-list id="pickPeriod" ng-show="!Period">
            <ion-item ng-repeat="period in periods" ng-click="initPeriod(period)" ui-sref="app.attendance({periodId:period.periodNum})">
                Period {{period.periodNum}}
            </ion-item>
        </ion-list>

        <div class="myStudents" ng-show="Period">
            <div ng-controller="commentBox">
               <!--<button ng-click="toggleCustom()">Expanded View</button>-->
                <div class="markAllContainer">
                    <button ng-click="toggleExpanded(markAll);hideStudents()" ng-class="{'ion-chevron-down' :!markAll.Expanded, 'ion-chevron-up': markAll.Expanded}" class="button all icon icon-right">All</button>
                </div>


                <!--shows when all button is clicked-->
                <ion-list id="markAll" ng-show="markAll.Expanded">
                    <ion-item ng-click="markPresent()">Mark All Present</ion-item>
                    <ion-item ng-click="markAbsent()">Mark All Absent</ion-item>
                </ion-list>



                <ion-list id="studentList" ng-show="Period">
                    <ion-item ng-repeat="student in Period.students">
                        <a href="#/app/student/{{student.studentId}}">
                            <div class="fName">{{student.firstName}}</div>
                            <div class="lName">{{student.lastName}}</div>
                            <span ng-hide="hide">
                                <div class="photo"><img src="{{student.picture}}" ></div>
                                <div class="percent">{{student.attPercent}}%</div>
                                <div class="year">{{student.schoolYear}}</div>
                            </span><!--end hide span-->
                        </a>
                        <div class="attMarker">
                            <div class="activeMark {{student.state.Chosen.Val}}" ng-click="toggleMarkersExpanded(student.state)">{{student.state.Chosen.Disp}}</div>
                        </div><!--end attMarker-->

                        <!--Comments Popup-->

                            <div>
                            <button class="ion-document" ng-click="openModal()"></button>
                            </div>


                        <div class="markers" ng-show="student.state.Expanded">
                                <span ng-repeat="option in student.state.Options"
                                      class="{{option.Val}}"
                                      ng-click="chooseMark(student,option)">{{option.Disp}}
                                </span>
                        </div><!--end .markers-->
                    </ion-item>
                </ion-list>
            </div><!--end toggle students controller-->
        </div>
    </ion-content>


    <script id="modal.html" type="text/ng-template">
        <div class="modal">
            <div class="bar bar-header bar-balanced">
                <button class="button" ng-click="closeModal()">back</button>
                <h1 class="title"></h1>
            </div>
            <br>
            <br>
            <form ng-submit="AddItem(data)">
                <div class="list">

                    <div class="list list-inset">


                            <input type="text" placeholder="Add Comment Here" ng-model="data.newItem">



                    </div>
                    <button class="button button-block button-balanced" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </script>



</ion-view>