<ion-view title="Period 3" class=" icon ion-ios7-arrow-down">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-header-bar class="bar-calm" align-title="center">
            <button ng-click="previous()" class="button prevBtn icon ion-arrow-left-c"></button>
            <h1 class="title">{{date | date:'EEE, dd MMM yyyy'}}</h1>
            <button ng-click="next()" class="button nextBtn icon ion-arrow-right-c"></button>
        </ion-header-bar>

    </ion-content>
</ion-view>
