<ion-view>
    <ion-nav-buttons side="left">
        <span class="buttons">
            <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        </span>
    </ion-nav-buttons>
    <ion-nav-buttons>
        <button id="changePeriodBtn"
                ng-click='toggleExpanded(changePeriod)'
                ng-show='Period' ng-class="{'ion-chevron-down' :!changePeriod.Expanded, 'ion-chevron-up': changePeriod.Expanded}"
                class='button center button-icon icon icon-right'>
            Period {{Period.periodNum}}
        </button>
    </ion-nav-buttons>

    <!--shows when change period button is clicked-->
    <ion-list id="changePeriod" ng-show="changePeriod.Expanded">
        <ion-item ng-repeat="period in periods"  ng-click="changePeriodClose(changePeriod)" ui-sref="app.attendance({periodId:period.periodNum})">
            Period {{period.periodNum}}
        </ion-item>
    </ion-list>
    <period-nav></period-nav>

    <ion-header-bar class="dateNav bar-subheader bar-calm" ng-show="Period" na-title-slide-ios7>
        <button ng-click="previous()"  class="button prevBtn icon ion-arrow-left-c"></button>
        <h1 class="title">{{date | date:'EEE, dd MMM yyyy'}}</h1>
        <button ng-click="next()" class="button nextBtn icon ion-arrow-right-c"></button>
    </ion-header-bar><!--end date Nav-->

    <ion-content class="has-header">
        <!--when no period is chosen-->
        <ion-list id="pickPeriod" ng-show="!Period">
            <ion-item ng-repeat="period in periods" ui-sref="app.attendance({periodId:period.periodNum})">
                Period {{period.periodNum}}
            </ion-item>
        </ion-list>


        <div class="myStudents" ng-show="Period">
            <ion-list id="studentList" ng-show="Period">

                <!-- Vince's code, Show/Hide Student info-->

                <div ng-controller="toggleStudents">

                    <button ng-click="toggleCustom()">Expanded View</button>
                <ion-item ng-repeat="student in Period.students">

                    <div class="fName">{{student.firstName}}</div>
                    <div class="lName">{{student.lastName}}</div>

                        <span ng-hide="hide">



                    <div class="photo"><img src="{{student.picture}}" ></div>
                    <div class="percent">{{student.attPercent}}%</div>
                    <div class="year">{{student.schoolYear}}</div>
                    <div class="attMarker">
                        <div class="activeMark {{student.state.Chosen.Val}}" ng-click="toggleMarkersExpanded(student.state)">{{student.state.Chosen.Disp}}</div>
                        <div class="markers" ng-show="student.state.Expanded">
                            <span ng-repeat="option in student.state.Options"
                                  class="{{option.Val}}"
                                  ng-click="chooseMark(student,option)">{{option.Disp}}
                            </span>
                            <!--<span class="blank" ng-click="chooseMark(student,'--', student.markers)">--</span>
                            <span class="present" ng-click="chooseMark(student,'P', student.markers)">P</span>
                            <span class="unexcused" ng-click="chooseMark(student,'U', student.markers)">U</span>
                            <span class="tardy" ng-click="chooseMark(student,'T', student.markers)">T</span>
                            <span class="parentExc" ng-click="chooseMark(student,'PE', student.markers)">PE</span>
                            <span class="schoolExc" ng-click="chooseMark(student,'SE', student.markers)">SE</span>-->
                        </div>
                    </div><!--end .markers-->
                    </div>
                    </span>
        </div><!--end .attMarker-->
                </ion-item>
            </ion-list>
        </div><!--end myStudents-->

    </ion-content>
</ion-view>