
<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Students</h1>

        <body>

        <ion-list id="showStudent" ng-show="!Period">
            <ion-item ng-repeat="student in periods" ui-sref="app.attendance({periodId:period.periodNum})">
                Period {{period.periodNum}}
            </ion-item>
        </ion-list>









        </div></body>

         </ion-content>
</ion-view>



